/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

body 
{ margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Raleway', sans-serif;
	background: url(http://subtlepatterns.com/patterns/brillant.png);
}

#nav1 ul {
	list-style-type: none;
	overflow: hidden;
	float: right;
	width: 700px;
	margin: 20px;
	padding: 0;
	height: 60px;
}

#nav2 ul {
	list-style-type: none;
	margin: 0;
	
	padding: 0;
	overflow: hidden;
	float: left;
	position: absolute;
	left: 15px;
	top: 100px;
	width: 200px;
	
	
}

#nav1 li {
	float: right;
	
	
}


#nav2 li {
	background-color: #222;
	height: 75px;
	text-align: center;
	width:200px;
    
    float:left;
	
	
}

.topMenu:link,.topMenu:visited {
	
	width: 140px;
	height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font: 20px 'Raleway',sans-serif;
	
}

.topMenu:hover,.topMenu:active {
	
	background-color: #8A8F8F;
}

.compName {
	color: #FFFFFF;
	font: 'Raleway',sans-serif;
	margin: 20px;
	padding: 10px;
	height: 30px;
}

.productGrid{
	padding-top: 80px;
}

h2{
	
	left:0;
	right: 0;
	bottom: 0;
	top: 10px;
	font: 'Raleway',sans-serif;
	font-size: 14px;
	text-align: center;
	
}
h3{
	text-align: center;
	font-size: 13px;
}
#center {
  top: 0;
  margin-left: 230px;
  margin-right: 15px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 20px 0 0px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
}

.icon-box {
	border-right: 1px solid #eaeaea;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

img {
	display: block;
	margin: 0 auto;
}

.clear_header {
	margin:4.9em auto 0 auto; 
}

/* header */
.masthead {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:100;
	background:#222;
}

@media handheld, only screen and (max-width: 767px) {

	
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

